[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai-whisper = "*"
openai = "*"
rust = "*"
translators = "*"
ane-transformers = "*"
coremltools = "*"
torch = "==2.2.0"
torchvision = "==0.17.0"
torchaudio = "==2.2.0"
numpy = "==1.26.4"

[dev-packages]

[requires]
python_version = "3.10"
